body {
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    padding: 0;
    margin: 0;

    @include breakpoint_up(large){
        &.theme1 {
            background-color: $veryDarkDesaturatedBlue1;
        }
        &.theme2 {
            background-color: $lightGray;
        }
        &.theme3 {
            background-color: $veryDarkViolet1;
        }
    }
}

.container {
    padding-left: 24px;
    padding-top: 27px;
    padding-right: 24px;
    padding-bottom: 32px;

    &.theme1 {
        background-color: $veryDarkDesaturatedBlue1;
    }
    &.theme2 {
        background-color: $lightGray;
    }
    &.theme3 {
        background-color: $veryDarkViolet1;
    }

    @include breakpoint_up(large){
        width: 38%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}